<div class="chat-container" *ngIf="selectedUser">
  <div class="chat-box">
    <div class="chat-header">
      <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg" class="userPP" alt="">
      <h2 class="headingUserName">{{selectedUser.username}}</h2>
    </div>
    <div class="chat-messages" #messageContainer>
      <!-- User picture always at the top of the messages -->
      <div class="userpic-container">
        <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg" class="userPPtwo" alt="">
      </div>
      <!-- Chat messages -->
      <div *ngFor="let message of messages" [class.own]="message.senderId === currentUser?.id" class="message-box">
        <div class="message-content">
          {{ message.content }}
        </div>
        <div class="message-status" *ngIf="message.senderId === currentUser?.id">
          {{ message.status }}
        </div>
      </div>
    </div>
    <div class="chat-input">
      <input [(ngModel)]="newMessage" placeholder="Type a message..." (input)="onMessageInput($event)" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
