<div class="userlist">
  <div class="userheading">
    <!-- Search Bar -->
    <div class="search-container" (click)="onSearchContainerClick()">
      <input type="text" placeholder="Search" class="search-input">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/VisualEditor_-_Icon_-_Search.svg/2048px-VisualEditor_-_Icon_-_Search.svg.png" class="search-icon" alt="search">
    </div>

    <!-- Friends Profile Pictures Row -->
    <div class="friends-row">
      <div class="friend-item" *ngFor="let friend of friendList"  [class.selected]="friend === selectedUser" (click)="onUserSelect(friend)">
        <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg"
             class="friend-pp" alt="User Profile Picture">
        <span class="friend-name">{{ friend.username.split(' ')[0] }}</span>
      </div>
    </div>
  </div>


  <div class="menu">
    <span class="menu-item" >Message</span>
    <span class="menu-item request" >Request</span>
  </div>
  
  


  <div class="mainpart">
    <div class="user-list" *ngFor="let user of messageList" [class.selected]="user === selectedUser" (click)="onUserSelect(user)">
      <div class="user-item">
        <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg" class="userPP" alt="">
        <div class="user-info">
          <div class="user-header">
            <span class="userName">{{ user.username }}</span>
            <span *ngIf="unseenMessages[user.id]" class="forUnseenMsg">{{ unseenMessages[user.id] }}</span>
            <span class="timeAgo">{{ lastMessageTimes[user.id] | timeAgo }}</span>
          </div>
          <div class="belowName">
            <span *ngIf="typingStatus[user.id]" class="typingStatus">Typing...</span>
            <p class="lastMessage" [ngClass]="{'seen': unseenMessages[user.id] === 0, 'unseen': unseenMessages[user.id] > 0}" *ngIf="!typingStatus[user.id]">{{ lastMessages[user.id] | truncate:31 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
