<div class="userlist">
  <div class="userheading">
    <div class="search">
      <div class="search-container" *ngIf="showSearchInput">
        <input type="text" placeholder="Search">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/VisualEditor_-_Icon_-_Search.svg/2048px-VisualEditor_-_Icon_-_Search.svg.png" class="search-icon" alt="search">
      </div>
    </div>
    <div class="read">
      <div class="all">All</div>
      <div class="requested">Requested</div>
    </div>
  </div>
  <div class="hr"></div>
  <div class="mainpart">
    <div class="user-list" *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onUserSelect(user)">
      <div class="user-item">
        <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg" class="userPP" alt="">
        <div class="user-info">
          <div class="user-header">
            <span class="userName">{{ user.username }}</span>
            <span *ngIf="unseenMessages[user.id]" class="forUnseenMsg">{{ unseenMessages[user.id] }}</span>
            <span class="timeAgo">{{ lastMessageTimes[user.id] | timeAgo }}</span>
          </div>
          <div class="belowName">
            <span *ngIf="typingStatus[user.id]" class="typingStatus">Typing...</span>
            <p class="lastMessage" [ngClass]="{'seen': unseenMessages[user.id] === 0, 'unseen': unseenMessages[user.id] > 0}" *ngIf="!typingStatus[user.id]">{{ lastMessages[user.id] | truncate:31 }}</p>
          </div>
        </div>
      </div>
      <div class="hr2"></div>
    </div>
  </div>
</div>
<!-- second day of the streak  -->