.userlist {
  height: 92.3vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  position: relative;
  overflow: hidden;
}

.read {
  display: flex;
}

.userheading .search {
  position: relative;
}

.search-container {
  margin-left: 30px;
  position: relative;
  width: 200px;
}

.search-container input {
  width: 100%;
  height: 15px;
  padding: 10px 40px 10px 50px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s;
}

.search-container .search-icon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.search-container input::placeholder {
  padding: 50px;
  font-weight: 600;
}

.search-container input:focus {
  border: 2px solid blue;
}

.all,
.requested {
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.932);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.all {
  margin-left: 30px;
  width: 55px;
  margin-right: 10px;
}

.requested {
  margin-left: 10px;
  width: 100px;
}

.hr,
.hr2 {
  height: 1px;
  background-color: gray;
}

.hr {
  width: 100%;
  margin-top: 10px;
}

.hr2 {
  width: 98%;
  margin-left: 4px;
}

.mainpart {
  height: 90vh;
  overflow-y: scroll;
}

.mainpart::-webkit-scrollbar {
  width: 3px;
  border: solid 10px black;
}

.mainpart::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1px;
}

.mainpart::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.mainpart::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.808);
}

.user-list {
  width: 100%;
  // min-height: 100px;
}

.user-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.user-item:hover {
  background-color: gray;
}

.user-item.selected {
  background-color: gray;
}

.userPP {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.user-info {
  margin-left: 60px;
  flex: 1;
}

.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.userName {
  color: white;
  font-size: 17px;
  font-weight: 600;
}

.forUnseenMsg {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 230px;
  margin-top: 40px;
}

.timeAgo {
  color: white;
  position: absolute;
  right: 50px;
}

.belowName {
  margin-top: 5px;
  
}

.lastMessage {
  font-size: 15px;
  font-weight: 500;
}

.lastMessage.unseen {
  color: green;
}

.lastMessage.seen {
  color: white;
}

.typingStatus {
  color: green;
  font-weight: 700;
  font-size: 15px;
}
