<div class="userlist">
  <!-- Section for Incoming Friend Requests -->
  <div class="incoming-requests">
    <h3>Incoming Friend Requests</h3>
    <div class="request-item" *ngFor="let request of pendingRequests">
      <div class="user-item">
        <img
          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg"
          class="userPP"
          alt="User Profile Picture"
        />
        <div class="user-info">
          <div class="user-header">
            <span class="userName">{{ request.requester.username }}</span>
          </div>
          <div class="user-actions">
            <button class="btn-accept" (click)="acceptRequest(request.requester.id)">Accept</button>
            <button class="btn-decline" (click)="rejectRequest(request.requester.id)">Decline</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section for Add Friends -->
  <div class="add-friend-list">
    <h3>Add Friends</h3>
    <div class="add-friend-item" *ngFor="let user of users">
      <div class="user-item">
        <!-- Profile Picture and Name -->
        <img
          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg"
          class="userPP"
          alt="User Profile Picture"
        />

        <div class="user-info">
          <div class="user-header">
            <span class="userName">{{ user.username }}</span>
          </div>
        </div>

        <!-- Icons on the Right Side -->
        <div class="icons-container">
          <div class="icon-container" >
            <img src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png" class="msg-icon" alt="Message User" />
          </div>

          <div class="icon-container" (click)="sendRequest(user.id)">
            <img src="https://cdn-icons-png.freepik.com/512/6469/6469169.png" class="addfrnd" alt="Add Friend" />
          </div>
        </div>
      </div>
      <div class="hr2"></div>
    </div>
  </div>
</div>
